<table class="table table-sm table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Bib Number</th>
			<th scope="col">Gender</th>
			<th scope="col">Age</th>
			<th scope="col">Age Group</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let participant of participants">
			<td>{{ participant.person.name }}</td>
			<td class="font-monospace">{{ participant.bibNumber }}</td>
			<td>{{ participant.gender }}</td>
			<td>{{ participant.age }}</td>
			<td>{{ participant.ageGroup }}</td>
		</tr>
	</tbody>
</table>
<div class="d-flex justify-content-center pt-3">
	<ngb-pagination [collectionSize]="totalParticipants" [pageSize]="25" [(page)]="page" [boundaryLinks]="true" (pageChange)="getParticipants(eventDetailId)">
		<ng-template ngbPaginationPages let-page let-pages="pages">
			<li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
				<div class="mb-3 d-flex flex-nowrap px-2">
				<label
					id="paginationInputLabel"
					for="paginationInput"
					class="col-form-label me-2 ms-1"
				>Page</label>
				<input #i
					type="text"
					inputmode="numeric"
					pattern="[0-9]*"
					class="form-control custom-pages-input"
					id="paginationInput"
					[value]="page"
					(keyup.enter)="selectPage(i.value)"
					(blur)="selectPage(i.value)"
					(input)="formatInput($any($event).target)"
					aria-labelledby="paginationInputLabel paginationDescription"
					style="width: 3rem"
				/>
				<span id="paginationDescription" class="col-form-label text-nowrap px-2">
					of {{pages.length}}</span>
				</div>
			</li>
		</ng-template>
	</ngb-pagination>
</div>
