<div class="row mb-3">
	<div class="col-12 col-md-6">
		<label for="eventSelect" class="form-label">Event</label>
		<select id="eventSelect" class="form-select" (change)="eventSelect($event)" aria-label="">
			<option selected="">Select...</option>
			<option *ngFor="let event of events" value="{{ event.id }}">{{ event.name }}</option>
		</select>
	</div>

	<div class="col-12 col-md-6">
		<label for="eventDetailSelect" class="form-label">Event Detail</label>
		<select id="eventDetailSelect" class="form-select" (change)="eventDetailSelect($event)" aria-label="">
			<option selected="">Select...</option>
			<option *ngFor="let eventDetail of eventDetails" value="{{ eventDetail.id }}">{{ eventDetail.eventType.name }}</option>
		</select>
	</div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" [destroyOnHide]="false">
	<li [ngbNavItem]="1">
		<a ngbNavLink>Results</a>
		<ng-template ngbNavContent>
			<form>
				<div class="mb-3 row">
					<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
					<div class="col-xs-3 col-sm-auto">
						<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
					</div>
				</div>
			</form>
			<table class="table table-sm table-striped small">
				<thead>
					<tr class="d-none d-md-table-row">
						<th scope="col"></th>
						<th scope="col" class="d-none d-lg-table-cell"></th>
						<th scope="col" class="d-none d-lg-table-cell"></th>
						<th scope="col" colspan="3" class="text-center border-bottom">Place</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					<tr>
						<th scope="col">Name</th>
						<th scope="col" class="d-none d-lg-table-cell">Bib Number</th>
						<th scope="col" class="d-none d-lg-table-cell">Status</th>
						<th scope="col">Overall</th>
						<th scope="col" class="d-none d-md-table-cell">Gender</th>
						<th scope="col" class="d-none d-md-table-cell">Age Group</th>
						<th scope="col">Distance</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let result of results$ | async" (click)="openModal(result)">
						<td>{{ result.participant.person.name }}</td>
						<td class="d-none d-lg-table-cell">{{ result.participant.bibNumber }}</td>
						<td class="d-none d-lg-table-cell">{{ result.status }}</td>
						<td>{{ result.placeOverall }}</td>
						<td class="d-none d-md-table-cell">{{ result.placeGender }}</td>
						<td class="d-none d-md-table-cell">{{ result.placeAgeGroup }}</td>
						<td>{{ result.distanceTotal }} {{ result.distanceUnits }}</td>
						<td class="font-monospace">{{ durationHelper.getDurationString(result.timeTotalSeconds) }}</td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center pt-3">
				<ngb-pagination [collectionSize]="totalResults" [pageSize]="25" [(page)]="page" [boundaryLinks]="true" (pageChange)="getResults(selectedEventDetailId)">
					<ng-template ngbPaginationPages let-page let-pages="pages">
						<li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
							<div class="mb-3 d-flex flex-nowrap px-2">
							<label
								id="paginationInputLabel"
								for="paginationInput"
								class="col-form-label me-2 ms-1"
							>Page</label>
							<input #i
								type="text"
								inputmode="numeric"
								pattern="[0-9]*"
								class="form-control custom-pages-input"
								id="paginationInput"
								[value]="page"
								(keyup.enter)="selectPage(i.value)"
								(blur)="selectPage(i.value)"
								(input)="formatInput($any($event).target)"
								aria-labelledby="paginationInputLabel paginationDescription"
								style="width: 3rem"
							/>
							<span id="paginationDescription" class="col-form-label text-nowrap px-2">
								of {{pages.length}}</span>
							</div>
						</li>
					</ng-template>
				</ngb-pagination>
			</div>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Participants</a>
		<ng-template ngbNavContent>
			<app-participants #participantsComponent [eventDetailId]="selectedEventDetailId"></app-participants>
		</ng-template>
	</li>
	<li [ngbNavItem]="3" (shown)="displayStats()">
		<a ngbNavLink>Stats</a>
		<ng-template ngbNavContent>
			<div class="row">
				<div class="col-12 col-md-6">
					<canvas #genderDistributionChart></canvas>
				</div>
				<div class="col-12 col-md-6">
					<canvas #ageGroupDistributionChart></canvas>
				</div>
			</div>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
