<div class="row mb-3">
	<div class="col-12 col-md-6">
		<label for="eventSelect" class="form-label">Event</label>
		<select id="eventSelect" class="form-select" (change)="eventSelect($event)" aria-label="">
			<option selected="">Select...</option>
			<option *ngFor="let event of events" value="{{ event.id }}">{{ event.name }}</option>
		</select>
	</div>

	<div class="col-12 col-md-6">
		<label for="eventDetailSelect" class="form-label">Event Detail</label>
		<select id="eventDetailSelect" class="form-select" (change)="eventDetailSelect($event)" aria-label="">
			<option selected="">Select...</option>
			<option *ngFor="let eventDetail of eventDetails" value="{{ eventDetail.id }}">{{ eventDetail.eventType.name }}</option>
		</select>
	</div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>Results</a>
		<ng-template ngbNavContent>
			<form>
				<div class="mb-3 row">
					<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
					<div class="col-xs-3 col-sm-auto">
						<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
					</div>
				</div>
			</form>
			<table class="table table-sm table-striped small">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col" class="d-none d-lg-table-cell">Bib Number</th>
						<th scope="col" class="d-none d-lg-table-cell">Status</th>
						<th scope="col">Overall</th>
						<th scope="col" class="d-none d-md-table-cell">Gender</th>
						<th scope="col" class="d-none d-md-table-cell">Age Group</th>
						<th scope="col">Distance</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let result of results$ | async">
						<td>{{ result.participant.person.name }}</td>
						<td class="d-none d-lg-table-cell">{{ result.participant.bibNumber }}</td>
						<td class="d-none d-lg-table-cell">{{ result.status }}</td>
						<td>{{ result.placeOverall }}</td>
						<td class="d-none d-md-table-cell">{{ result.placeGender }}</td>
						<td class="d-none d-md-table-cell">{{ result.placeAgeGroup }}</td>
						<td>{{ result.distanceTotal }}</td>
						<td>{{ getDurationString(result.timeTotalSeconds) }}</td>
					</tr>
				</tbody>
			  </table>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Participants</a>
		<ng-template ngbNavContent>
			<app-participants #participantsComponent [eventDetailId]="selectedEventDetailId"></app-participants>
		</ng-template>
	</li>
	<li [ngbNavItem]="3" (shown)="displayStats()">
		<a ngbNavLink>Stats</a>
		<ng-template ngbNavContent>
			<div class="row">
				<div class="col-12 col-md-6">
					<canvas #genderDistributionChart></canvas>
				</div>
				<div class="col-12 col-md-6">
					<canvas #ageGroupDistributionChart></canvas>
				</div>
			</div>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
